<div id="<%= dom_id transfer %>">
  <p>
    <strong>First name:</strong>
    <%= transfer.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= transfer.last_name %>
  </p>

  <p>
    <strong>Club from:</strong>
    <%= transfer.club_from %>
  </p>

  <p>
    <strong>Club to:</strong>
    <%= transfer.club_to %>
  </p>

  <p>
    <strong>Transfer fee:</strong>
    <%= transfer.transfer_fee %>
  </p>

</div>
